
/* Universal Selectors */
*{

margin: 0;
padding: 0;
}

.phone{
  padding-top: 70px;
  height: 650px;
  float: right;
  margin: 10px;
  
}

body{
background-color: #fafafa! important;

}

.container{
margin-top: 20px;

}

input {
  display: inline-block;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  width: 80%;
  font-size: 14px;
  padding: 9px 10px;
  border: 1px solid lightgrey; 
  
}

.instagram-logo{

  width: 220px;
  margin: 15px auto;
}

.right-colum {

  background-color: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 40px;
  margin-top: 70px;


}


.fb-logo{
width: 35px;

}
button img{
  height: 22px! important;
  padding: 0 8px 2px;

}

.or{
  font-size: 13px! important;
  color: #999;
  font-weight: 600;
}

.or::before{
content: '';
background: #efefef;
display: block;
height: 2px;
width: 110px;
position: relative;
top: 11px;
}

.or::after{
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom:  10px;
  left: 160px;
  }