* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background: rgba(250, 250, 250, 1);
    overflow-x: hidden;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .container .col .box {
    width: 350px;
    height: 380px;
    border: 1px solid rgba(219, 219, 219, 1);
    background: white;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    z-index: 2;
  }
  
  .container .col .box .title {
    position: relative;
    top: 5px;
    text-align: center;
  }
  
  .container .col.content {
    position: relative;
    top: 12px;
  }
  
  .container .col .box .title img {
    width: 190px;
    height: 80px;
  }
  
  .container .col .box .login-form {
    position: relative;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .col .box .login-form .form-content {
    position: relative;
    margin: 5px 0;
    top: 22px;
  }
  
  .container .col .box .login-form label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9px;
    font-size: 12px;
    color: rgba(142, 142, 142, 1);
    pointer-events: none;
    order: -1;
    transition: 0.3s ease;
  }
  
  .container .col .box .login-form input {
    background: transparent;
    width: 270px;
    height: 40px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    padding: 9px 0 7px 8px;
    font-size: 14px;
    transition: 0.3s ease;
  }
  
  .container .col .box .login-form input:valid {
    padding-bottom: 0;
  }
  
  .container .col .box .login-form input:valid+label {
    transform: translateY(-16px);
    font-size: 10px;
  }
  
  .container .col .box .login-form button {
    width: 250px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgba(0, 149, 246, 0.3);
    color: white;
  }
  
  .fb-logo {
  
    width: 6%;
    height: 13px;
    margin-right: 1rem;
  
  }
  
  .container .col .box .login-form .form-ending {
    position: relative;
    width: 265px;
    margin-top: 20px;
    text-align: center;
  }
  
  .container .col .box .login-form .form-ending #OR {
    color: rgba(142, 142, 142, 1);
    background: white;
    text-align: center;
    width: 50px;
    margin: 15px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    z-index: 3;
    position: relative;
    display: block;
  }
  
  .container .col .box .login-form .form-ending #line {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 22px;
    width: 270px;
    height: 1px;
    background: rgba(219, 219, 219, 1);
  }
  
  .container .col .box .login-form .form-ending p#facebook {
    color: #385185;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
  }
